#!/bin/sh

killall -q polybar
killall -q picom
killall -q plank
sleep 1

picom --config /home/oem/.config/picom/micwm.conf -b &
#if [ -f "/home/oem/.micwm/wallpaper.png" ]; then feh --bg-scale "/home/oem/.micwm/wallpaper.png" & fi
nitrogen --restore &
sleep 1
plank &
polybar example &

